@{
    ViewData["Title"] = "Article page";
}
<!DOCTYPE html>
<html lang="en">

@* <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./images/yes.png" type="img/123.jpg" />
    <title>中華民國心率學會</title>

    <link rel="stylesheet" href="./CSS/main.css">
</head> *@

<body>

    <div class="header">
        <img src="@Url.Content("~/css/images/demo.png")" alt="Logo" class="logo">
        <div class="menu">
            <a href="http://127.0.0.1:5500/Index.html" class="menu-item">2023 AUTUMN FORUM</a>
            <a href="http://127.0.0.1:5500/Banner.html" class="menu-item">Banner上傳</a>
            <a href="http://127.0.0.1:5500/SetDate.html" class="menu-item">研討會日期設定</a>
            <a href="#" class="menu-item">固定欄位控制</a>
            <a href="http://127.0.0.1:5500/Registration.html" class="menu-item">Registration Category</a>
            <a href="#" class="menu-item">Additional Purchase</a>
            <a href="#" class="menu-item">Excel 報名人員匯入</a>
        </div>
    </div>

    <div class="content">
        <!-- Your content, image, or search list goes here -->
        <img src="./images/123.jpg" alt="heart" class="heart">
        <h2>Welcome to Your Website</h2>
        <p>This is the content area.</p>
    </div>

    <div class="footer">
        <div class="footer-section">
            <h3>這邊可以註記登入者身分</h3>
            <p>test@gmail.com</p>
        </div>
        <div class="footer-section">
            <h3>學會地址</h3>
            <p>台北市天龍區天龍路三段888號</p>
        </div>
        <div class="footer-section">
            <h3>連絡電話</h3>
            <p>0912345678</p>
        </div>
    </div>

</body>

</html>