<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Links Example</title>
</head>
<body>

    <button onclick="goToGoogle()">Go to Google</button>
    <button onclick="goToYahoo()">Go to Yahoo</button>

    <script>
        function goToGoogle() {
            window.location.href = "https://keyperdemo.keyxentic.com:8443/register/";
        }

        function goToYahoo() {
            window.location.href = "https://keyperdemo.keyxentic.com:8443/keyperManageDemo/";
        }
    </script>

</body>
</html>